/* 네모 모양의 라디오 버튼 */
.radio {
  width: 20px; /* 너비 */
  height: 20px; /* 높이 */
  border: 2px solid #fff; /* 테두리 */
  background-color: #333; /* 배경 색상 */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* 부드러운 전환 */
}

/* 선택되었을 때 색상 변경 */
.radio:checked {
  background-color: black; /* 선택 시 배경색 */
  border-color: gray;
  transform: scale(1.2); /* 클릭 시 확대 효과 */
}
